* {
  box-sizing: border-box;
}

ul, ol{
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body{
  background: url(../images/bg1.jpg);
  font-family:sans-serif;
}

header{
  display: block;
  width: 100%;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
}

.nav-principal{
  width: 100%;
  display: none;
  float: left;

}
nav.nav-principal ul{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

nav.nav-principal ul li{
  text-transform: uppercase;
  padding: 5px;
  float: left;
  width: 100%;
  text-align: center;
  background-color: lightgrey;
  margin-bottom: 5px;
  font-size: 14px;
}

nav.nav-principal ul li a{
  font-size: 13px;
  color: white;
  padding: 5px 0;
}



header:hover nav.nav-principal {
display: block;
}

section{
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 15px;
  padding: 0px;
}

h1{
  font-size: 20px;
  color: #00000080;
  margin-top: 1px;
}
div.renglonRayas{
  width: 100%;
  display: flex;
  margin-top: 10px;
  margin-bottom: -15px;
}

h2{
  font-size: 17px;
  color: #00000045;
}

hr{
  margin-top: 25px;
  margin-bottom: 30px;
  width: 14%;
}

button.facebook{
  width: 100%;
  height: 41px;
  font-size: 15px;
  color: white;
  background-color: #5d5dd6;
  border-radius: 10px;
}

button.Ingresar{
  width: 100%;
  height: 41px;
  font-size: 15px;
  color: white;
  background-color: #f34646;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 10px;
}

form.IngresarDatos{
    width: 90%;
    height: 100px;
    text-align: left;
}

p.email input{
  width: 100%;
  padding: 10px 20px;
  margin: 0px 0;
  font-size: 15px;
  color: #00000045;
  border-radius: 10px;
}

p.contraseña input {
  width: 100%;
  padding: 10px 20px;
  margin: 0px 0;
  font-size: 15px;
  color: #00000045;
  border-radius: 10px;
  }



div.checkbox{
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 80px;
}

div.recordame p {
 font-size: 11px;
 color: #00000080;
}

div.olvide p a{
 font-size: 11px;
 text-decoration: underline;
 color: #5d5dd6;;
}

div.cuenta{
  width: 90%;
  font-size: 11px;
  color: #00000080;
  display: flex;
  justify-content: space-around;
}

div.cuenta p a{
text-decoration: underline;
color: #5d5dd6;
}

@media(min-width:768px){
div.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  }

  nav.nav-principal{
    width: 100%
  }

  nav.nav-principal ul{
    width: 100%;
    font-size: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


  }
    nav.nav-principal ul li a {
      text-align: center;
      margin-bottom: 10px;
      margin-top: 10px;
      margin-right: 0px;
      margin-left: 0px;
      padding: 4px;
      border-radius: 5px;
      text-transform: capitalize;
      border-radius: 30px;
  }
}

@media (min-width: 1024px){
  div.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    }
    nav.nav-principal{
      width: 100%
    }

    nav.nav-principal ul{
      width: 100%;
      font-size: 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border-radius: 5px,

    }
      nav.nav-principal ul li a {
        text-align: center;
        margin-bottom: 10px;
        margin-top: 10px;
        margin-right: 0px;
        margin-left: 0px;
        padding: 4px;
        border-radius: 5px;
        text-transform: capitalize;
        border-radius: 30px;
    }
    }
