*{
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
}

ul, ol{
  padding: 0;
}

li {
  list-style-type: none;
}

body{
  background: url(../images/bg1.jpg);
  font-family:sans-serif;
}

a{
  text-decoration: none;
  color: black;
}
header{
  background-color: lightgray;
  padding: 0.5px;
  display: block;
  width: 100%;
}

header ul{
  list-style-type: none;
  overflow: hidden;
  padding: 0;
}

header li{
  float: left;
  width: 50%;
  text-align: center;
}

header .ofreceme{
  font-weight: bold;
  font-size: 1.5em;
}

header img.logo_corto{
  width: 62%;
}
header img.logo_largo{
  width:95%;
}

nav.nav-principal{
  width: 100%;
  display: none;
  float: left;
}

nav.nav-principal ul{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

nav.nav-principal ul li{
  text-transform: uppercase;
  padding: 5px;
  float: left;
  width: 100%;
  text-align: center;
  background-color: lightgrey;
  margin-bottom: 5px;
  font-size: 14px;
}

nav.nav-principal ul li a{
  font-size: 13px;
  color: white;
  padding: 5px 0;
}



header:hover nav.nav-principal {
display: block;
}





.home-buscar input{
  display: block;
  width: 95%;
  margin-top: 5%;
  border-style: solid;
  border-color: lawngreen;
  padding: 6px;
}

.categorias-home img{
  display: block;
  width: 90%;
  margin: 5%;
}
section{

  background-color: white;
  padding: 1% 10% 1% 10%;
}
article{
  position: relative;
}




article a{
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  width: 90%;
  background-color: rgba(0,0,0,0.5);
  color: lawngreen;
  text-align: center;
  padding: 5px;
  position: absolute;
  top: 50%;


}

@media (min-width:768px){
  .container{
    max-width: 720px;
    margin: 0 auto;
    }
  }

@media (min-width:1180px){
  .container{
    max-width: 1100px;
    margin: 0 auto;
    }
  .toogle-nav{
  display: none;
    }
  }
