
section{
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: white;
}

h1{
  font-size: 20px;
  color: #00000080;
}
div.renglonRayas{
  width: 100%;
  display: flex;
  margin-top: 10px;
  margin-bottom: -15px;
}

h2{
  font-size: 17px;
  color: #00000045;
}

hr{
  margin-top: 25px;
  margin-bottom: 30px;
  width: 14%;
}

button{
  width: 90%;
  height: 41px;
  font-size: 15px;
  color: white;
  border-radius: 10px;
  font-weight: bold;
}

button.facebook{
    background-color: #5d5dd6;
}

button.registrate{
  background-color: #00ff00;
  margin-top: 15px;
  margin-bottom: 10px;
  color: black;
}

form.IngresarDatos{
    width: 90%;
    height: 200px;
    text-align: left;
}

p.nombre input {
  width: 100%;
  padding: 10px 20px;
  margin: 0px 0;
  font-size: 15px;
  color: #00000045;
  border-radius: 10px;
  }

p.apellido input {
    width: 100%;
    padding: 10px 20px;
    margin: 0px 0;
    font-size: 15px;
    color: #00000045;
    border-radius: 10px;
    }

p.email input{
  width: 100%;
  padding: 10px 20px;
  margin: 0px 0;
  font-size: 15px;
  color: #00000045;
  border-radius: 10px;
}

p.contraseña input {
  width: 100%;
  padding: 10px 20px;
  margin: 0px 0;
  font-size: 15px;
  color: #00000045;
  border-radius: 10px;
  }

div.checkbox{
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 43px;
}

div.novedades p {
 font-size: 11px;
 color: #00000080;
}

div.terminosYcondiciones p{
  font-size: 11px;
}

div.terminosYcondiciones p a{
 font-size: 11px;
 text-decoration: underline;
 color: #5d5dd6;;
}

div.cuenta{
  width: 90%;
  font-size: 11px;
  color: black;
  display: flex;
  justify-content: space-around;
}

div.cuenta p a{
text-decoration: underline;
color: #5d5dd6;
}

@media(min-width:768px){
div.container{
  width: 95%;
  background-color: rgba(0,0,0,0.5);
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin: 25px;
  }


  nav.nav-principal{
    width: 100%
  }

  nav.nav-principal ul{
    width: 100%;
    font-size: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


  }
    nav.nav-principal ul li a {
      text-align: center;
      margin-bottom: 10px;
      margin-top: 10px;
      margin-right: 0px;
      margin-left: 0px;
      padding: 4px;
      border-radius: 5px;
      text-transform: capitalize;
      border-radius: 30px;
  }
}

@media (min-width: 1024px){
  div.container{
    width: 95%;
    background-color: rgba(0,0,0,0.5);
  }

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: 25px;
    }

    nav.nav-principal{
      width: 100%
    }

    nav.nav-principal ul{
      width: 100%;
      font-size: 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border-radius: 5px,

    }
      nav.nav-principal ul li a {
        text-align: center;
        margin-bottom: 10px;
        margin-top: 10px;
        margin-right: 0px;
        margin-left: 0px;
        padding: 4px;
        border-radius: 5px;
        text-transform: capitalize;
        border-radius: 30px;
    }
    }
